:root {
  --primary-color: rgb(0, 85, 255);
  --primary-color-hover: rgba(0, 85, 255, 0.846);
  --primary-color-active: rgb(1, 76, 227);

  --seconday-color: rgb(53, 53, 53);
  --seconday-color-hover: rgba(53, 53, 53, 0.849);
  --seconday-color-active: rgb(0, 0, 0);

  --like-color: #e0245e;
  --like-color-hover: #dc9eb2;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;

  padding-bottom: 80px;
}

header {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  grid-row: 1;
  place-content: center;
  margin: 80px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  font-size: 32px;

  /* Start: Outline */
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  cursor: pointer;
  transition: color 0.2s ease, font-variation-settings 0.2s ease;
}

.container-like .material-symbols-outlined:hover {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--like-color-hover);
}

.container-like .material-symbols-outlined:active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--like-color);
}

/* Aufgabe 01 */

.profile-head {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
}

/* Username */
.container-username {
  display: flex;
  align-items: center;
  gap: 8px;
}

.verification {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 24px;
  width: 24px;
}

/* Aufgabe 02 */

/* Stats */
.container-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-stats div {
  text-align: center;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Aufgabe 03 */

/* Info */

.container-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-description a {
  text-decoration: none;
}

/* Aufgabe 04 */

/* Buttons */
.container-buttons {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

button {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 0;

  color: white;
}

.primary-btn {
  background-color: var(--primary-color);
}
.primary-btn:hover {
  background-color: var(--primary-color-hover);
}
.primary-btn:active {
  background-color: var(--primary-color-active);
}

.secondary-btn {
  background-color: var(--seconday-color);
}

.secondary-btn:hover {
  background-color: var(--seconday-color-hover);
}

.secondary-btn:active {
  background-color: var(--seconday-color-active);
}

/* Aufgabe 05 */

/* Profile image */

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url("https://framerusercontent.com/images/baMeNTLf1U7fHemVoeGazQID3e8.png?scale-down-to=512&width=1376&height=768");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Aufgabe 2/1  */
main {
  display: grid;
  margin: 80px;
}

.container-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 2;
  gap: 16px;
  margin: 0 80px;
}

.gallery-card img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 16px 16px 0 0;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container-info {
  display: flex;
  justify-content: space-around;
}

.container-like,
.container-comment {
  display: flex;
  gap: 16px;
}

.container-info h4 {
  font-weight: 500;
}

@media screen and (width<=1200px) {
  .container-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width<=900px) {
  .container-gallery {
    grid-template-columns: 1fr;
  }
}
