body {
  padding: 80px;
  background-color: rgb(35, 37, 35);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

[class^="container-act-"] {
  display: none;
}

h1 {
  font-size: clamp(16px, 5vw, 80px);
  grid-column: span 2;
  text-align: center;
  grid-row: 1;
}
img {
  grid-column: 1;
  grid-row: 2;
  height: auto;
  width: 50%;
}

p {
  font-size: clamp(16px, 5vw, 24px);
}

.text {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  padding: 0 clamp(4px, 5vw, 24px);
}

/* Act 01 */
@media (max-width: 1950px) {
  .container-act-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 02 */
@media (max-width: 1700px) {
  .container-act-1 {
    display: none;
  }
  .container-act-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 03 */
@media (max-width: 1500px) {
  .container-act-2 {
    display: none;
  }
  .container-act-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 04 */
@media (max-width: 1300px) {
  .container-act-3 {
    display: none;
  }
  .container-act-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 05 */
@media (max-width: 1100px) {
  .container-act-4 {
    display: none;
  }
  .container-act-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 06 */
@media (max-width: 992px) {
  .container-act-5 {
    display: none;
  }
  .container-act-6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 07 */
@media (max-width: 768px) {
  .container-act-6 {
    display: none;
  }
  .container-act-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 08 */
@media (max-width: 576px) {
  .container-act-7 {
    display: none;
  }
  .container-act-8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 09 */
@media (max-width: 430px) {
  .container-act-8 {
    display: none;
  }
  .container-act-9 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

/* Act 10 */
@media (max-width: 320px) {
  .container-act-9 {
    display: none;
  }
  .container-act-10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}
